<%= form_with(model: @element, remote: true) do |form| %>
 
  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@element.errors.count, "error") %> prohibited
        this element from being saved:
      </h2>
      <ul>
        <% @element.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.button :submit %>
  </p>
 
<% end %>