  <div class="navbar-header" id="id_app">  
    <a class="navbar-brand" href="#" > {{ app_name }}</a> 
  </div>
  
 <%= render "/elements/valid" %>
    <table>
      <tr>
        <th>Important</th>
        <th>List</th>
        <th>Operations</th>
      </tr>
      <% @elements.each do |element, task| %>
        <tr>
          <td><input type="checkbox" id=<%= element.id %> class="js-mark-done"></td>

          <td><%= element.text %></td>
          <td><%= link_to 'Show', element_path(element) %></td>
          <td><%= link_to 'Edit', edit_element_path(element) %></td>
          <td><%= link_to 'Destroy', element_path(element),
                  method: :delete,
                  data: {confirm: 'Are you sure?'}%></td>
        </tr>
      <% end %>
    </table>
<nav>

<tr>
  <th>Sort by:</th>
  <th><%= sortable "text" %></th>
  <th><%= sortable "timestamp" %></th>
</tr>

<script>
    new Vue({
    el: '#id_app', //указываем к какому id прицепиться
    data: { app_name: 'To do list', fontSize: 30}
  })      
  
</script>



