<div class="navbar-header" id="id_app">  
  <a class="navbar-brand" href="#" > {{ app_name }}</a> 
</div>
  
<%= form_with(model: @element, id:"added-element") do |form| %>
  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@element.errors.count, "error") %> prohibited
        this element from being saved:
      </h2>
      <ul>
        <% @element.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.text_area :text, :title=>'write at least 5 characters' %>
    <%= form.button :add, class: 'submit_class', title: 'save new element?' %>
  </p>

<table>
  <tr>
    <th>Todos List</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @elements.each do |element| %>
    <tr>
      <td><div class="checkbox-important">              
          <%= check_box_tag(element.id, element.id, false, class: 'js-mark-done') %>
          <%= label_tag(:element, element.text) %>        
      </div></td>

      <td><%= link_to image_tag("edit.png", border:0),
          edit_element_path(element),
          :title => "edit element?" %></td>
          
      <td><%= link_to image_tag("delete.png", border:0), element_path(element),
          method: :delete, data: {confirm: 'Are you sure?'},
          :title => "delete element?" %></td> 
        </tr>
      <% end %>
      <%= link_to "Delete_all", "/destroy_all", :title => "delete all?" %> 

</table>

<% end %>

<table class="pretty">
  <tr>
    <th>Sort by:</th>   
    <th><%= sortable "text" %></th>
    <th><%= sortable "timestamp" %></th>
  </tr>
</table> 

<script>
    new Vue({
    el: '#id_app', //указываем к какому id прицепиться
    data: { app_name: 'To do list', fontSize: 30}
  })      
  
</script>



